---
layout: page_small_fw_collection
title: Fall Winter Collection 2019
---
                                        <section id="one" class="wrapper alt style2">
                                                <section class="spotlight">
                                                        <div class="image"><a href="{{ site.baseurl }}{% link oversized_t_shirt.html %}"><img src="images/hoodie/naslovna.JPG" alt="" /></a></div><div class="content">
                                                                <h2>Oversized Hoodie</h2>

                                                          <ul class="actions">
                                                                <li><a href="{{ site.baseurl }}{% link oversized_hoodie.html %}" class="button2 special">See more</a></li>
                                                          </ul>

							  <!--   <p>Sport. Elegance. Seduction.</p> -->
                                                        </div>
                                                </section>
                                                <section class="spotlight">
                                                        <div class="image"><img src="images/turtleneck/naslovna.JPG" alt="" /></div><div class="content">
                                                                <h2>Turtleneck</h2>

                                                          <ul class="actions">
                                                                <li><a href="{{ site.baseurl }}{% link turtleneck.html %}" class="button2 special">See more</a></li>
                                                          </ul>
                                                        </div>

                                                </section>
                                                
                                        </section>

<!--

					<section id="cta" class="wrapper style4">
						<div class="inner">
							<header>
								<h2>Arcue ut vel commodo</h2>
								<p>Aliquam ut ex ut augue consectetur interdum endrerit imperdiet amet eleifend fringilla.</p>
							</header>
							<ul class="actions vertical">
								<li><a href="#" class="button fit special">Activate</a></li>
								<li><a href="#" class="button fit">Learn More</a></li>
							</ul>
						</div>
					</section>
					
-->
