---
layout: page_small_fw2020_collection
title: WINTER 2020/2021 COLLECTION
---
                                        <section id="one" class="wrapper alt style2">
                                                <section class="spotlight">
                                                        <div class="image"><a href="{{ site.baseurl }}{% link rafaello_sanzio.html %}"><img src="images/rafaellosanzio/naslovna.jpg" alt="" /></a></div><div class="content">
                                                                <h2>Rafaello Sanzio Hoodie</h2>
                                                                Oversize for Him and Her.

                                                          <ul class="actions">
                                                                <li><a href="{{ site.baseurl }}{% link rafaello_sanzio.html %}" class="button2 special">See more</a></li>
                                                          </ul>

							  <!--   <p>Sport. Elegance. Seduction.</p> -->
                                                        </div>
                                                </section>
                                                <section class="spotlight">
                                                        <div class="image"><img src="images/salvadordali/naslovna.jpg" alt="" /></div><div class="content">
                                                                <h2>Salvador Dali Hoodie</h2>
                                                                Oversize for Him and Her.


                                                          <ul class="actions">
                                                                <li><a href="{{ site.baseurl }}{% link salvador_dali.html %}" class="button2 special">See more</a></li>
                                                          </ul>
                                                        </div>

                                                </section>
                                                <section class="spotlight">
                                                        <div class="image"><img src="images/pablopicasso/naslovna.jpg" alt="" /></div><div class="content">
                                                                <h2>Pablo Picasso Hoodie</h2>
                                                                Oversize for Him and Her.


                                                          <ul class="actions">
                                                                <li><a href="{{ site.baseurl }}{% link pablo_picasso.html %}" class="button2 special">See more</a></li>
                                                          </ul>
                                                        </div>

                                                </section>

                                        </section>

<!--

					<section id="cta" class="wrapper style4">
						<div class="inner">
							<header>
								<h2>Arcue ut vel commodo</h2>
								<p>Aliquam ut ex ut augue consectetur interdum endrerit imperdiet amet eleifend fringilla.</p>
							</header>
							<ul class="actions vertical">
								<li><a href="#" class="button fit special">Activate</a></li>
								<li><a href="#" class="button fit">Learn More</a></li>
							</ul>
						</div>
					</section>
					
-->
