---
layout: landing
---
				<!-- Banner -->
					<section id="banner">
						<div class="inner" style="text-align: center; margin-left:auto; margin-right:auto; max-width:70%;">
							<h2>{{ site.title }}</h2>
                            <p> {{ site.description | markdownify }}</p>
							<ul class="actions">
							<li><a href="https://www.instagram.com/i_choose_official/" class="button special">Instagram</a></li>
                            <li><a href="spring_summer2021.html" class="button special">2021 Collection</a> </li>
							</ul>
						</div>
						<a href="#one" class="more scrolly">Collections</a>
					</section>
<!--

				
					<section id="one" class="wrapper style1 special">
						<div class="inner">
							<header class="major">
								<h2>Arcu aliquet vel lobortis ata nisl<br />
								eget augue amet aliquet nisl cep donec</h2>
								<p>Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend<br />
								fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.</p>
							</header>
							<ul class="icons major">
								<li><span class="icon fa-diamond major style1"><span class="label">Lorem</span></span></li>
								<li><span class="icon fa-heart-o major style2"><span class="label">Ipsum</span></span></li>
								<li><span class="icon fa-code major style3"><span class="label">Dolor</span></span></li>
							</ul>
						</div>
					</section>

-->

					<section id="one" class="wrapper alt style2">


						<section class="spotlight">
							<div class="image"><a href="{{ site.baseurl }}{% link spring_summer2021.html %}"><img src="images/spring_summer2021_spotlight.jpg" alt="" /></a></div><div class="content">
								<h2>Spring Summer Collection<br />
								2021</h2>

                                       
								<p>HIPPIE CULTURE.</p>
                                                           <ul class="actions">
                                                                <li><a href="{{ site.baseurl }}{% link spring_summer2021.html %}" class="button2 special">Explore</a></li>
                                                          </ul>

							</div>
						</section>


						<section class="spotlight">
							<div class="image"><a href="{{ site.baseurl }}{% link fall_winter2020.html %}"><img src="images/fall_winter2020_spotlight.jpg" alt="" /></a></div><div class="content">
								<h2>Fall Winter Collection<br />
								2020</h2>

                                         
								<p>CULTURE.</p>
                                                         <ul class="actions">
                                                                <li><a href="{{ site.baseurl }}{% link fall_winter2020.html %}" class="button2 special">Explore</a></li>
                                                          </ul>

							</div>
						</section>

						<section class="spotlight">
							<div class="image"><a href="{{ site.baseurl }}{% link spring_summer.html %}"><img src="images/spring_summer_spotlight.png" alt="" /></a></div><div class="content">
								<h2>Spring Summer Collection<br />
								2020</h2>

                                       
								<p>Sport. Elegance. Seduction.</p>
                                                           <ul class="actions">
                                                                <li><a href="{{ site.baseurl }}{% link spring_summer.html %}" class="button2 special">Explore</a></li>
                                                          </ul>

							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="images/winter_spring_spotlight.jpg" alt="" /></div><div class="content">
								<h2>Fall Winter Collection<br />
								2019</h2>
								<p>Let me be your choice.</p>
								<ul class="actions">
                                                                <li><a href="{{ site.baseurl }}{% link fall_winter.html %}" class="button2 special">Explore</a></li>
                                                          </ul>

							</div>
						</section>

					</section>

<!--
					<section id="three" class="wrapper style3 special">
						<div class="inner">
							<header class="major">
								<h2>Accumsan mus tortor nunc aliquet</h2>
								<p>Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend<br />
								fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.</p>
							</header>
							<ul class="features">
								<li class="icon fa-paper-plane-o">
									<h3>Arcu accumsan</h3>
									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
								</li>
								<li class="icon fa-laptop">
									<h3>Ac Augue Eget</h3>
									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
								</li>
								<li class="icon fa-code">
									<h3>Mus Scelerisque</h3>
									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
								</li>
								<li class="icon fa-headphones">
									<h3>Mauris Imperdiet</h3>
									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
								</li>
								<li class="icon fa-heart-o">
									<h3>Aenean Primis</h3>
									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
								</li>
								<li class="icon fa-flag-o">
									<h3>Tortor Ut</h3>
									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
								</li>
							</ul>
						</div>
					</section>

					<section id="cta" class="wrapper style4">
						<div class="inner">
							<header>
								<h2>Arcue ut vel commodo</h2>
								<p>Aliquam ut ex ut augue consectetur interdum endrerit imperdiet amet eleifend fringilla.</p>
							</header>
							<ul class="actions vertical">
								<li><a href="#" class="button fit special">Activate</a></li>
								<li><a href="#" class="button fit">Learn More</a></li>
							</ul>
						</div>
					</section>
					
-->
