---
layout: page_small_fall_winter
title: Fall Winter Collection 2019
---
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script>
$(document).ready(function(){

// Your existing code

    $(document).keyup(function(e) { 
        if (e.keyCode == 27) { // esc keycode
		window.location.hash="#";
        }
    });
});
	</script>

					<section id="three" class="wrapper style2 special" style="padding:0; padding-bottom: 0; margin-bottom:0;">
							<div class="spotlight2">
								<div class="row">
									<div class="item_30">
										<a class="lightbox" href="#zenska_glavna">
										   <img src="images/hoodie/zenski_crni1.JPG" >
										</a> 
									</div>
									<div class="item_30">
										<a class="lightbox" href="#zenska1">
										   <img src="images/hoodie/zenski_crni2.JPG" >
										</a> 
									</div>
									<div class="item_30">
										<a class="lightbox" href="#zenska2">
										   <img src="images/hoodie/zenski_crni3.JPG" >
										</a> 
									</div>

								<header class="major" style="margin:0; padding-top:3%;width:40%;">
									<h2>Oversized Woman's Black Hoodie </h2>
									<p>3900 RSD</p>
									<ul class="actions">
                <li><a href="https://www.instagram.com/i_choose_official/" class="button2 special">Order now</a></li>
		        </ul>

								</header>

								</div>

							</div>

							<div class="spotlight2">
								<div class="row">
					

									<div class="item_30">
										<a class="lightbox" href="#zenski_beli1">
										   <img src="images/hoodie/zenski_beli1.JPG" >
										</a> 
									</div>
									<div class="item_30">
										<a class="lightbox" href="#zenski_beli2">
										   <img src="images/hoodie/zenski_beli2.JPG" >
										</a> 
									</div>
						<div class="item_30">
										<a class="lightbox" id="zenska_bela_home" href="#zenski_beli3">
										   <img src="images/hoodie/zenski_beli3.JPG" >
										</a> 
									</div>

									<header class="major" style="margin:0; padding-top:3%;width:40%;">
										<h2>Oversized Woman's White Hoodie </h2>
										<p>3900 RSD</p>
                                                                        <ul class="actions">
                <li><a href="https://www.instagram.com/i_choose_official/" class="button2 special">Order now</a></li>
                        </ul>

									</header>

								</div>

							</div>

							<div class="spotlight2">
								<div class="row">
									<header class="major" style="margin:0; padding-top:3%;width:40%;">
										<h2>Oversized Man's Black Hoodie </h2>
										<p>3900 RSD</p>
										                                                                        <ul class="actions">
                <li><a href="https://www.instagram.com/i_choose_official/" class="button2 special">Order now</a></li>
                        </ul>

									</header>

									<div class="item_30">
										<a class="lightbox" id="muska_home" href="#muski_crni1">
										   <img src="images/hoodie/muski_crni1.JPG" >
										</a> 
									</div>
									<div class="item_30">
										<a class="lightbox" href="#muski_crni2">
										   <img src="images/hoodie/muski_crni2.JPG" >
										</a> 
									</div>
									<div class="item_30">
										<a class="lightbox" href="#muski_crni3">
										   <img src="images/hoodie/muski_crni3.JPG" >
										</a> 
									</div>

					
								</div>

							</div>
							<div class="spotlight2">
								<div class="row">
									<header class="major" style="margin:0; padding-top:3%;width:40%;">
										<h2>Oversized Man's White Hoodie </h2>
										<p>3900 RSD</p>
										                                                                        <ul class="actions">
                <li><a href="https://www.instagram.com/i_choose_official/" class="button2 special">Order now</a></li>
                        </ul>

									</header>
									<div class="item_30">
										<a class="lightbox" href="#muski_beli3">
										   <img src="images/hoodie/muski_beli3.JPG" >
										</a> 
									</div>

									<div class="item_30">
										<a class="lightbox" id="muska_bela_home" href="#muski_beli1">
										   <img src="images/hoodie/muski_beli1.JPG" >
										</a> 
									</div>
									<div class="item_30">
										<a class="lightbox" href="#muski_beli2">
										   <img src="images/hoodie/muski_beli2.JPG" >
										</a> 
									</div>
								
					
								</div>

							</div>



<div class="lightbox-target" id="zenska_glavna">
   <img src="images/hoodie/zenski_crni1.JPG"/>
   <a class="lightbox-close" href="#"></a>
</div>
<div class="lightbox-target" id="zenska1">
   <img src="images/hoodie/zenski_crni2.JPG"/>
   <a class="lightbox-close" href="#"></a>
</div>
<div class="lightbox-target" id="zenska2">
   <img src="images/hoodie/zenski_crni3.JPG"/>
   <a class="lightbox-close" href="#"></a>
</div>
<div class="lightbox-target" id="muski_crni1">
   <img src="images/hoodie/muski_crni1.JPG"/>
   <a class="lightbox-close" href="#muska_home"></a>
</div>
<div class="lightbox-target" id="muski_crni2">
   <img src="images/hoodie/muski_crni2.JPG"/>
   <a class="lightbox-close" href="#muska_home"></a>
</div>
<div class="lightbox-target" id="muski_crni3">
   <img src="images/hoodie/muski_crni3.JPG"/>
   <a class="lightbox-close" href="#muska_home"></a>
</div>

<div class="lightbox-target" id="zenski_beli3">
   <img src="images/hoodie/zenski_beli3.JPG"/>
   <a class="lightbox-close" href="#zenska_bela_home"></a>
</div>
<div class="lightbox-target" id="zenski_beli1">
   <img src="images/hoodie/zenski_beli1.JPG"/>
   <a class="lightbox-close" href="#zenska_bela_home"></a>
</div>
<div class="lightbox-target" id="zenski_beli2">
   <img src="images/hoodie/zenski_beli2.JPG"/>
   <a class="lightbox-close" href="#zenska_bela_home"></a>
</div>
<div class="lightbox-target" id="muski_beli1">
   <img src="images/hoodie/muski_beli1.JPG"/>
   <a class="lightbox-close" href="#muska_bela_home"></a>
</div>
<div class="lightbox-target" id="muski_beli2">
   <img src="images/hoodie/muski_beli2.JPG"/>
   <a class="lightbox-close" href="#muska_bela_home"></a>
</div>
<div class="lightbox-target" id="muski_beli3">
   <img src="images/hoodie/muski_beli3.JPG"/>
   <a class="lightbox-close" href="#muska_bela_home"></a>
</div>




<!--

					<section id="cta" class="wrapper style4">
						<div class="inner">
							<header>
								<h2>Arcue ut vel commodo</h2>
								<p>Aliquam ut ex ut augue consectetur interdum endrerit imperdiet amet eleifend fringilla.</p>
							</header>
							<ul class="actions vertical">
								<li><a href="#" class="button fit special">Activate</a></li>
								<li><a href="#" class="button fit">Learn More</a></li>
							</ul>
						</div>
					</section>
					
-->
