---
layout: page_small_spring_summer
title: Spring Summer Collection 2020
---
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script>
$(document).ready(function(){

// Your existing code

    $(document).keyup(function(e) { 
        if (e.keyCode == 27) { // esc keycode
		window.location.hash="#";
        }
    });
});
	</script>

					<section id="three" class="wrapper style2 special" style="padding:0; padding-bottom: 0; margin-bottom:0;">
							<div class="spotlight2">
								<div class="row">
									<div class="item_30">
										<a class="lightbox" href="#zenska_glavna">
										   <img src="images/oversizedtshirt/zenska_glavna.jpg" >
										</a> 
									</div>
									<div class="item_30">
										<a class="lightbox" href="#zenska1">
										   <img src="images/oversizedtshirt/zenska1.jpg" >
										</a> 
									</div>
									<div class="item_30">
										<a class="lightbox" href="#zenska2">
										   <img src="images/oversizedtshirt/zenska2.jpg" >
										</a> 
									</div>

								<header class="major" style="margin:0; padding-top:3%;width:40%;">
									<h2>Oversized Woman's Black T-shirt </h2>
									<p>3500 RSD</p>
									<ul class="actions">
                <li><a href="https://www.instagram.com/i_choose_official/" class="button2 special">Order now</a></li>
		        </ul>

								</header>

								</div>

							</div>

							<div class="spotlight2">
								<div class="row">
					

												<div class="item_30">
										<a class="lightbox" href="#zenska_bela1">
										   <img src="images/oversizedtshirt/zenska_bela1.jpg" >
										</a> 
									</div>
									<div class="item_30">
										<a class="lightbox" href="#zenska_bela2">
										   <img src="images/oversizedtshirt/zenska_bela2.jpg" >
										</a> 
									</div>
						<div class="item_30">
										<a class="lightbox" id="zenska_bela_home" href="#zenska_bela_glavna">
										   <img src="images/oversizedtshirt/zenska_bela_glavna.jpg" >
										</a> 
									</div>

									<header class="major" style="margin:0; padding-top:3%;width:40%;">
										<h2>Oversized Woman's White T-shirt </h2>
										<p>3500 RSD</p>
                                                                        <ul class="actions">
                <li><a href="https://www.instagram.com/i_choose_official/" class="button2 special">Order now</a></li>
                        </ul>

									</header>

								</div>

							</div>

							<div class="spotlight2">
								<div class="row">
									<header class="major" style="margin:0; padding-top:3%;width:40%;">
										<h2>Oversized Man's Black T-shirt </h2>
										<p>3500 RSD</p>
										                                                                        <ul class="actions">
                <li><a href="https://www.instagram.com/i_choose_official/" class="button2 special">Order now</a></li>
                        </ul>

									</header>

									<div class="item_30">
										<a class="lightbox" id="muska_home" href="#muska_glavna">
										   <img src="images/oversizedtshirt/muska_glavna.jpg" >
										</a> 
									</div>
									<div class="item_30">
										<a class="lightbox" href="#muska1">
										   <img src="images/oversizedtshirt/muska1.jpg" >
										</a> 
									</div>
									<div class="item_30">
										<a class="lightbox" href="#muska2">
										   <img src="images/oversizedtshirt/muska2.jpg" >
										</a> 
									</div>

					
								</div>

							</div>
							<div class="spotlight2">
								<div class="row">
									<header class="major" style="margin:0; padding-top:3%;width:40%;">
										<h2>Oversized Man's White T-shirt </h2>
										<p>3500 RSD</p>
										                                                                        <ul class="actions">
                <li><a href="https://www.instagram.com/i_choose_official/" class="button2 special">Order now</a></li>
                        </ul>

									</header>
									<div class="item_30">
										<a class="lightbox" href="#muska_bela2">
										   <img src="images/oversizedtshirt/muska_bela2.jpg" >
										</a> 
									</div>

									<div class="item_30">
										<a class="lightbox" id="muska_bela_home" href="#muska_bela_glavna">
										   <img src="images/oversizedtshirt/muska_bela_glavna.jpg" >
										</a> 
									</div>
									<div class="item_30">
										<a class="lightbox" href="#muska_bela1">
										   <img src="images/oversizedtshirt/muska_bela1.jpg" >
										</a> 
									</div>
								
					
								</div>

							</div>



<div class="lightbox-target" id="zenska_glavna">
   <img src="images/oversizedtshirt/zenska_glavna.jpg"/>
   <a class="lightbox-close" href="#"></a>
</div>
<div class="lightbox-target" id="zenska1">
   <img src="images/oversizedtshirt/zenska1.jpg"/>
   <a class="lightbox-close" href="#"></a>
</div>
<div class="lightbox-target" id="zenska2">
   <img src="images/oversizedtshirt/zenska2.jpg"/>
   <a class="lightbox-close" href="#"></a>
</div>
<div class="lightbox-target" id="muska_glavna">
   <img src="images/oversizedtshirt/muska_glavna.jpg"/>
   <a class="lightbox-close" href="#muska_home"></a>
</div>
<div class="lightbox-target" id="muska1">
   <img src="images/oversizedtshirt/muska1.jpg"/>
   <a class="lightbox-close" href="#muska_home"></a>
</div>
<div class="lightbox-target" id="muska2">
   <img src="images/oversizedtshirt/muska2.jpg"/>
   <a class="lightbox-close" href="#muska_home"></a>
</div>

<div class="lightbox-target" id="zenska_bela_glavna">
   <img src="images/oversizedtshirt/zenska_bela_glavna.jpg"/>
   <a class="lightbox-close" href="#zenska_bela_home"></a>
</div>
<div class="lightbox-target" id="zenska_bela1">
   <img src="images/oversizedtshirt/zenska_bela1.jpg"/>
   <a class="lightbox-close" href="#zenska_bela_home"></a>
</div>
<div class="lightbox-target" id="zenska_bela2">
   <img src="images/oversizedtshirt/zenska_bela2.jpg"/>
   <a class="lightbox-close" href="#zenska_bela_home"></a>
</div>
<div class="lightbox-target" id="muska_bela_glavna">
   <img src="images/oversizedtshirt/muska_bela_glavna.jpg"/>
   <a class="lightbox-close" href="#muska_bela_home"></a>
</div>
<div class="lightbox-target" id="muska_bela1">
   <img src="images/oversizedtshirt/muska_bela1.jpg"/>
   <a class="lightbox-close" href="#muska_bela_home"></a>
</div>
<div class="lightbox-target" id="muska_bela2">
   <img src="images/oversizedtshirt/muska_bela2.jpg"/>
   <a class="lightbox-close" href="#muska_bela_home"></a>
</div>




<!--

					<section id="cta" class="wrapper style4">
						<div class="inner">
							<header>
								<h2>Arcue ut vel commodo</h2>
								<p>Aliquam ut ex ut augue consectetur interdum endrerit imperdiet amet eleifend fringilla.</p>
							</header>
							<ul class="actions vertical">
								<li><a href="#" class="button fit special">Activate</a></li>
								<li><a href="#" class="button fit">Learn More</a></li>
							</ul>
						</div>
					</section>
					
-->
