---
layout: page_small_spring_summer
title: Spring Summer Collection 2020
---
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script>
$(document).ready(function(){

// Your existing code

    $(document).keyup(function(e) { 
        if (e.keyCode == 27) { // esc keycode
                window.location.hash="#";
        }
    });
});
        </script>

					<section id="three" class="wrapper style2 special" style="padding:0; padding-bottom: 0; margin-bottom:0;">
							<div class="spotlight2">
								<div class="row">
									<div class="item_30">
										<a class="lightbox" href="#pencil_glavna">
										   <img src="images/pencildress/pencil_glavna.jpg" >
										</a> 
									</div>
									<div class="item_30">
										<a class="lightbox" href="#pencil1">
										   <img src="images/pencildress/pencil1.jpg" >
										</a> 
									</div>
									<div class="item_30">
										<a class="lightbox" href="#pencil2">
										   <img src="images/pencildress/pencil2.jpg" >
										</a> 
									</div>

								<header class="major" style="margin:0; padding-top:3%;width:40%;">
									<h2>Pencil Dress Black </h2>
									<p>2690 RSD</p>
									                                                                        <ul class="actions">
                <li><a href="https://www.instagram.com/i_choose_official/" class="button2 special">Order now</a></li>
                        </ul>

								</header>

								</div>

							</div>

							<div class="spotlight2">
								<div class="row">
									<div class="item_30">
										<a class="lightbox" href="#pencil_pink1">
										   <img src="images/pencildress/pencil_pink1.jpg" >
										</a> 
									</div>
									<div class="item_30">
										<a class="lightbox" href="#pencil_pink2">
										   <img src="images/pencildress/pencil_pink2.jpg" >
										</a> 
									</div>
									<div class="item_30">
										<a class="lightbox" id="pencil_pink_home" href="#pencil_pink_glavna">
										   <img src="images/pencildress/pencil_pink_glavna.jpg" >
										</a> 
									</div>

									<header class="major" style="margin:0; padding-top:3%;width:40%;">
										<h2>Pencil Dress Pink</h2>
										<p>2690 RSD</p>
										                                                                        <ul class="actions">
                <li><a href="https://www.instagram.com/i_choose_official/" class="button2 special">Order now</a></li>
                        </ul>

									</header>

								</div>

							</div>
							<div class="spotlight2">
								<div class="row">
									<div class="item_30">
										<a class="lightbox" href="#pencil_gold1">
										   <img src="images/pencildress/pencil_gold1.jpg" >
										</a> 
									</div>
									<div class="item_30">
										<a class="lightbox" href="#pencil_gold2">
										   <img src="images/pencildress/pencil_gold2.jpg" >
										</a> 
									</div>
									<div class="item_30">
										<a class="lightbox" id="pencil_gold_home" href="#pencil_gold_glavna">
										   <img src="images/pencildress/pencil_gold_glavna.jpg" >
										</a> 
									</div>

									<header class="major" style="margin:0; padding-top:3%;width:40%;">
										<h2>Pencil Dress Gold</h2>
										<p>5490 RSD</p>
										<p><i>Luxury dress</i></p>
										                                                                        <ul class="actions">
                <li><a href="https://www.instagram.com/i_choose_official/" class="button2 special">Order now</a></li>
                        </ul>

									</header>

								</div>

							</div>



<div class="lightbox-target" id="pencil_glavna">
   <img src="images/pencildress/pencil_glavna.jpg"/>
   <a class="lightbox-close" href="#"></a>
</div>
<div class="lightbox-target" id="pencil1">
   <img src="images/pencildress/pencil1.jpg"/>
   <a class="lightbox-close" href="#"></a>
</div>
<div class="lightbox-target" id="pencil2">
   <img src="images/pencildress/pencil2.jpg"/>
   <a class="lightbox-close" href="#"></a>
</div>
<div class="lightbox-target" id="pencil_pink_glavna">
   <img src="images/pencildress/pencil_pink_glavna.jpg"/>
   <a class="lightbox-close" href="#pencil_pink_home"></a>
</div>
<div class="lightbox-target" id="pencil_pink1">
   <img src="images/pencildress/pencil_pink1.jpg"/>
   <a class="lightbox-close" href="#pencil_pink_home"></a>
</div>
<div class="lightbox-target" id="pencil_pink2">
   <img src="images/pencildress/pencil_pink2.jpg"/>
   <a class="lightbox-close" href="#pencil_pink_home"></a>
</div>
<div class="lightbox-target" id="pencil_gold_glavna">
   <img src="images/pencildress/pencil_gold_glavna.jpg"/>
   <a class="lightbox-close" href="#pencil_gold_home"></a>
</div>
<div class="lightbox-target" id="pencil_gold1">
   <img src="images/pencildress/pencil_gold1.jpg"/>
   <a class="lightbox-close" href="#pencil_gold_home"></a>
</div>
<div class="lightbox-target" id="pencil_gold2">
   <img src="images/pencildress/pencil_gold2.jpg"/>
   <a class="lightbox-close" href="#pencil_gold_home"></a>
</div>


<!--

					<section id="cta" class="wrapper style4">
						<div class="inner">
							<header>
								<h2>Arcue ut vel commodo</h2>
								<p>Aliquam ut ex ut augue consectetur interdum endrerit imperdiet amet eleifend fringilla.</p>
							</header>
							<ul class="actions vertical">
								<li><a href="#" class="button fit special">Activate</a></li>
								<li><a href="#" class="button fit">Learn More</a></li>
							</ul>
						</div>
					</section>
					
-->
