---
layout: page_small_fw2020_dali
title: Salvador Dali Hoodie
---
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script>
$(document).ready(function(){

// Your existing code

    $(document).keyup(function(e) { 
        if (e.keyCode == 27) { // esc keycode
		window.location.hash="#";
        }
    });
});
	</script>

					<section id="three" class="wrapper style2 special" style="padding:0; padding-bottom: 0; margin-bottom:0;">
							<div class="spotlight2">
								<div class="row">
									<div class="item_30">
										<a class="lightbox" href="#zenska_glavna">
										   <img src="images/salvadordali/4.jpg" >
										</a> 
									</div>
									<div class="item_30">
										<a class="lightbox" href="#zenska1">
										   <img src="images/salvadordali/5.jpg" >
										</a> 
									</div>

								<header class="major" style="margin:0; padding-top:3%;width:40%;">
									<h2>Oversized Woman's Hoodie </h2>
									
                                    <p>4700 RSD</p>

									<ul class="actions">
<li><a href="{{ site.baseurl }}{% link shop_form.html %}" class="button2 special" onClick="sessionStorage.setItem('order', 'Order: Salvador Dali Hers');">Order now</a></li>

		        </ul>

								</header>

								</div>

							</div>

							<div class="spotlight2">
								<div class="row">
					

									<div class="item_30">
										<a class="lightbox" href="#muska_glavna">
										   <img src="images/salvadordali/1.jpg" >
										</a> 
									</div>
                                    <div class="item_30">
										<a class="lightbox" href="#muska2">
										   <img src="images/salvadordali/3.jpg" >
										</a> 
									</div>

									<header class="major" style="margin:0; padding-top:3%;width:40%;">
										<h2>Oversized Man's Hoodie </h2>
                                            <p>4700 RSD</p>


										
                                                                        <ul class="actions">
<li><a href="{{ site.baseurl }}{% link shop_form.html %}" class="button2 special" onClick="sessionStorage.setItem('order', 'Order: Salvador Dali His');">Order now</a></li>

                        </ul>

									</header>

								</div>

							</div>

<div class="lightbox-target" id="zenska_glavna">
   <img src="images/salvadordali/4.jpg"/>
   <a class="lightbox-close" href="#"></a>
</div>
<div class="lightbox-target" id="zenska1">
   <img src="images/salvadordali/5.jpg"/>
   <a class="lightbox-close" href="#"></a>
</div>
<div class="lightbox-target" id="muska_glavna">
   <img src="images/salvadordali/1.jpg"/>
   <a class="lightbox-close" href="#"></a>
</div>
<div class="lightbox-target" id="muska2">
   <img src="images/salvadordali/3.jpg"/>
   <a class="lightbox-close" href="#"></a>
</div>





<!--

					<section id="cta" class="wrapper style4">
						<div class="inner">
							<header>
								<h2>Arcue ut vel commodo</h2>
								<p>Aliquam ut ex ut augue consectetur interdum endrerit imperdiet amet eleifend fringilla.</p>
							</header>
							<ul class="actions vertical">
								<li><a href="#" class="button fit special">Activate</a></li>
								<li><a href="#" class="button fit">Learn More</a></li>
							</ul>
						</div>
					</section>
					
-->
