---
layout: page_small_ss2021_collection_order
title: Order Now
---
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script>
	
</script>
	<script>
$(document).ready(function(){

// Your existing code

    $(document).keyup(function(e) { 
        if (e.keyCode == 27) { // esc keycode
		window.location.hash="#";
        }
    });

	document.getElementById("message").value = sessionStorage.getItem('order');

});
	</script>

<section id="three" class="wrapper style2 special" style=" padding:0; padding-bottom: 0; margin-bottom:0;">
							<div class="spotlight2">
								<div class="row" style="width: 50%; margin: 0 auto;">

<form id="fs-frm" name="simple-contact-form" accept-charset="utf-8" action="https://formspree.io/f/mrgryreg" method="post">
	<fieldset id="fs-frm-inputs">
	  <label for="full-name">Full Name</label>
	  <input type="text" style="width:200%" color="black" name="name" id="full-name" placeholder="First and Last" required>
	  <label for="email-address">Email Address</label>
	  <input type="email" style="width:200%" name="_replyto" id="email-address" placeholder="email@domain.tld" required>
	  <label for="address">Address</label>
	  <input type="text" style="width:200%" color="black" name="name" id="address" placeholder="Address" required>
	  <label for="full-name">Phone Number</label>
	  <input type="text" style="width:200%" color="black" name="name" id="phone-number" placeholder="Phone Number" required>

	  <label for="message">Message</label>
	  <textarea rows="5" name="message" id="message" style="resize:none; width:200%;" placeholder="Dummy Order" required></textarea>
	  <input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission">
	</fieldset>
	<input type="submit" class="button2" style="line-height:22px; color:black; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;" value="Submit Order">
  </form><style>/* reset */
  #fs-frm input,
  #fs-frm select,
  #fs-frm textarea,
  #fs-frm fieldset,
  #fs-frm optgroup,
  #fs-frm label,
  #fs-frm #card-element:disabled {
	font-family: inherit;
	font-size: 100%;
	color: black;
	border: none;
	border-radius: 0;
	display: block;
	width: 100%;
	padding: 0;
	margin: 0 auto;
	-webkit-appearance: none;
	-moz-appearance: none;
  }
  #fs-frm label,
  #fs-frm legend,
  #fs-frm ::placeholder {
	font-size: .825rem;
	margin-bottom: .5rem;
	padding-top: .2rem;
	display: flex;
	align-items: baseline;
  }
  
  /* border, padding, margin, width */
  #fs-frm input,
  #fs-frm select,
  #fs-frm textarea,
  #fs-frm #card-element {
	border: 1px solid rgba(0,0,0,0.2);
	background-color: rgba(255,255,255,0.9);
	padding: .75em 1rem;
	margin-bottom: 1.5rem;
  }
  #fs-frm input:focus,
  #fs-frm select:focus,
  #fs-frm textarea:focus {
	background-color: white;
	outline-style: solid;
	outline-width: thin;
	outline-color: gray;
	outline-offset: -1px;
  }
  #fs-frm [type="text"],
  #fs-frm [type="email"] {
	width: 100%;
  }
  #fs-frm [type="button"],
  #fs-frm [type="submit"],
  #fs-frm [type="reset"] {
	width: auto;
	cursor: pointer;
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
  }
  #fs-frm [type="button"]:focus,
  #fs-frm [type="submit"]:focus,
  #fs-frm [type="reset"]:focus {
	outline: none;
  }
  #fs-frm [type="submit"],
  #fs-frm [type="reset"] {
	margin-bottom: 0;
  }
  #fs-frm select {
	text-transform: none;
  }
  
  #fs-frm [type="checkbox"] {
	-webkit-appearance: checkbox;
	-moz-appearance: checkbox;
	appearance: checkbox;
	display: inline-block;
	width: auto;
	margin: 0 .5em 0 0 !important;
  }
  
  #fs-frm [type="radio"] {
	-webkit-appearance: radio;
	-moz-appearance: radio;
	appearance: radio;
  }
  
  /* address, locale */
  #fs-frm fieldset.locale input[name="city"],
  #fs-frm fieldset.locale select[name="state"],
  #fs-frm fieldset.locale input[name="postal-code"] {
	display: inline;
  }
  #fs-frm fieldset.locale input[name="city"] {
	width: 52%;
  }
  #fs-frm fieldset.locale select[name="state"],
  #fs-frm fieldset.locale input[name="postal-code"] {
	width: 20%;
  }
  #fs-frm fieldset.locale input[name="city"],
  #fs-frm fieldset.locale select[name="state"] {
	margin-right: 3%;
  }
  </style>


</div>
</div>
</section>
<!--

					<section id="cta" class="wrapper style4">
						<div class="inner">
							<header>
								<h2>Arcue ut vel commodo</h2>
								<p>Aliquam ut ex ut augue consectetur interdum endrerit imperdiet amet eleifend fringilla.</p>
							</header>
							<ul class="actions vertical">
								<li><a href="#" class="button fit special">Activate</a></li>
								<li><a href="#" class="button fit">Learn More</a></li>
							</ul>
						</div>
					</section>
					
-->
