---
layout: page_small
title: Spring Summer Collection 2020
---
                                        <section id="one" class="wrapper alt style2">
                                                <section class="spotlight">
                                                        <div class="image"><a href="{{ site.baseurl }}{% link oversized_t_shirt.html %}"><img src="images/oversizedtshirt/naslovna.jpg" alt="" /></a></div><div class="content">
                                                                <h2>Oversized T-shirt</h2>

                                                          <ul class="actions">
                                                                <li><a href="{{ site.baseurl }}{% link oversized_t_shirt.html %}" class="button2 special">See more</a></li>
                                                          </ul>

							  <!--   <p>Sport. Elegance. Seduction.</p> -->
                                                        </div>
                                                </section>
                                                <section class="spotlight">
                                                        <div class="image"><img src="images/pencildress/pencil_naslovna.jpg" alt="" /></div><div class="content">
                                                                <h2>Pencil Dress</h2>

                                                          <ul class="actions">
                                                                <li><a href="{{ site.baseurl }}{% link pencil_dress.html %}" class="button2 special">See more</a></li>
                                                          </ul>
                                                        </div>

                                                </section>
                                                <section class="spotlight">
                                                        <div class="image"><img src="images/minidress/minidress_naslovna.jpg" alt="" /></div><div class="content">
                                                                <h2>Mini Dress</h2>

                                                          <ul class="actions">
                                                                <li><a href="{{ site.baseurl }}{% link mini_dress.html %}" class="button2 special">See more</a></li>
                                                          </ul>

                                                        </div>
                                                </section>

                                        </section>

<!--

					<section id="cta" class="wrapper style4">
						<div class="inner">
							<header>
								<h2>Arcue ut vel commodo</h2>
								<p>Aliquam ut ex ut augue consectetur interdum endrerit imperdiet amet eleifend fringilla.</p>
							</header>
							<ul class="actions vertical">
								<li><a href="#" class="button fit special">Activate</a></li>
								<li><a href="#" class="button fit">Learn More</a></li>
							</ul>
						</div>
					</section>
					
-->
