---
layout: page_small_ss2021_collection
title: SUMMER 2021 COLLECTION
---
                                        <section id="one" class="wrapper alt style2">

<section class="spotlight">
                                                        <div class="image"><a href="{{ site.baseurl }}{% link ss2021/oversized_hippie_offwhite.html %}"><img src="images/ss2021/oversized_hippie_offwhite/naslovna.jpg" alt="" /></a></div><div class="content">
                                                                <h2>HIPPIE T-SHIRT Off-White</h2>
                                                                Oversize for Him and Her.

                                                          <ul class="actions">
                                                                <li><a href="{{ site.baseurl }}{% link ss2021/oversized_hippie_offwhite.html %}" class="button2 special">See more</a></li>
                                                          </ul>

							  <!--   <p>Sport. Elegance. Seduction.</p> -->
                                                        </div>
                                                </section>
					<section class="spotlight">
                                                        <div class="image"><a href="{{ site.baseurl }}{% link ss2021/oversized_hippie_peach.html %}"><img src="images/ss2021/oversized_hippie_peach/naslovna.jpg" alt="" /></a></div><div class="content">
                                                                <h2>HIPPIE T-SHIRT Peach</h2>
                                                                Oversize for Him and Her.

                                                          <ul class="actions">
                                                                <li><a href="{{ site.baseurl }}{% link ss2021/oversized_hippie_peach.html %}" class="button2 special">See more</a></li>
                                                          </ul>

							  <!--   <p>Sport. Elegance. Seduction.</p> -->
                                                        </div>
                                                </section>



                                                <section class="spotlight">
                                                        <div class="image"><a href="{{ site.baseurl }}{% link ss2021/oversized_white.html %}"><img src="images/ss2021/oversized_white/naslovna.jpg" alt="" /></a></div><div class="content">
                                                                <h2>Oversized ICHOOSE T-SHIRT</h2>
                                                                Oversize for Him.

                                                          <ul class="actions">
                                                                <li><a href="{{ site.baseurl }}{% link ss2021/oversized_white.html %}" class="button2 special">See more</a></li>
                                                          </ul>

							  <!--   <p>Sport. Elegance. Seduction.</p> -->
                                                        </div>
                                                </section>

						<section class="spotlight">
                                                        <div class="image"><a href="{{ site.baseurl }}{% link ss2021/oversized_hippie_black.html %}"><img src="images/ss2021/oversized_hippie_black/naslovna.jpg" alt="" /></a></div><div class="content">
                                                                <h2>Oversized HIPPIE T-SHIRT</h2>
                                                                Oversize for Him.

                                                          <ul class="actions">
                                                                <li><a href="{{ site.baseurl }}{% link ss2021/oversized_hippie_black.html %}" class="button2 special">See more</a></li>
                                                          </ul>

							  <!--   <p>Sport. Elegance. Seduction.</p> -->
                                                        </div>
                                                </section>

						<section class="spotlight">
                                                        <div class="image"><a href="{{ site.baseurl }}{% link ss2021/kultura_hoodie_peach.html %}"><img src="images/ss2021/kultura_hoodie_peach/naslovna.jpg" alt="" /></a></div><div class="content">
                                                                <h2>KULTURA Hoodie Peach</h2>
                                                                Oversize for Him and Her.

                                                          <ul class="actions">
                                                                <li><a href="{{ site.baseurl }}{% link ss2021/kultura_hoodie_peach.html %}" class="button2 special">See more</a></li>
                                                          </ul>

							  <!--   <p>Sport. Elegance. Seduction.</p> -->
                                                        </div>
                                                </section>
						<section class="spotlight">
                                                        <div class="image"><a href="{{ site.baseurl }}{% link ss2021/freespirit_dress_black.html %}"><img src="images/ss2021/freespirit_dress_black/naslovna.jpg" alt="" /></a></div><div class="content">
                                                                <h2>FREESPIRIT Dress Black</h2>

                                                          <ul class="actions">
                                                                <li><a href="{{ site.baseurl }}{% link ss2021/freespirit_dress_black.html %}" class="button2 special">See more</a></li>
                                                          </ul>

							  <!--   <p>Sport. Elegance. Seduction.</p> -->
                                                        </div>
                                                </section>

						<section class="spotlight">
                                                        <div class="image"><a href="{{ site.baseurl }}{% link ss2021/freespirit_dress_pink.html %}"><img src="images/ss2021/freespirit_dress_pink/naslovna.jpg" alt="" /></a></div><div class="content">
                                                                <h2>FREESPIRIT Dress Pink</h2>

                                                          <ul class="actions">
                                                                <li><a href="{{ site.baseurl }}{% link ss2021/freespirit_dress_pink.html %}" class="button2 special">See more</a></li>
                                                          </ul>

							  <!--   <p>Sport. Elegance. Seduction.</p> -->
                                                        </div>
                                                </section>
						<section class="spotlight">
                                                        <div class="image"><a href="{{ site.baseurl }}{% link ss2021/flow_dress_black.html %}"><img src="images/ss2021/flow_dress_black/naslovna.jpg" alt="" /></a></div><div class="content">
                                                                <h2>FLOW Dress Black</h2>

                                                          <ul class="actions">
                                                                <li><a href="{{ site.baseurl }}{% link ss2021/flow_dress_black.html %}" class="button2 special">See more</a></li>
                                                          </ul>

							  <!--   <p>Sport. Elegance. Seduction.</p> -->
                                                        </div>
                                                </section>
                                        </section>

<!--

					<section id="cta" class="wrapper style4">
						<div class="inner">
							<header>
								<h2>Arcue ut vel commodo</h2>
								<p>Aliquam ut ex ut augue consectetur interdum endrerit imperdiet amet eleifend fringilla.</p>
							</header>
							<ul class="actions vertical">
								<li><a href="#" class="button fit special">Activate</a></li>
								<li><a href="#" class="button fit">Learn More</a></li>
							</ul>
						</div>
					</section>
					
-->
