---
layout: page_small_fall_winter
title: Fall Winter Collection 2019
---
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script>
$(document).ready(function(){

// Your existing code

    $(document).keyup(function(e) { 
        if (e.keyCode == 27) { // esc keycode
                window.location.hash="#";
        }
    });
});
        </script>

					<section id="three" class="wrapper style2 special" style="padding:0; padding-bottom: 0; margin-bottom:0;">
							<div class="spotlight2">
								<div class="row">
									<div class="item_30">
										<a class="lightbox" href="#black2">
										   <img src="images/turtleneck/black2.JPG" >
										</a> 
									</div>
									<div class="item_30">
										<a class="lightbox" href="#black3">
										   <img src="images/turtleneck/black3.JPG" >
										</a> 
									</div>
									<div class="item_30">
										<a class="lightbox" href="#black4">
										   <img src="images/turtleneck/black4.JPG" >
										</a> 
									</div>

								<header class="major" style="margin:0; padding-top:3%;width:40%;">
									<h2>Turtleneck Black </h2>
									<p>2450 RSD</p>
									                                                                        <ul class="actions">
                <li><a href="https://www.instagram.com/i_choose_official/" class="button2 special">Order now</a></li>
                        </ul>

								</header>

								</div>

							</div>

							<div class="spotlight2">
								<div class="row">
									<div class="item_30">
										<a class="lightbox" href="#pink1">
										   <img src="images/turtleneck/pink1.JPG" >
										</a> 
									</div>
									<div class="item_30">
										<a class="lightbox" href="#pink2">
										   <img src="images/turtleneck/pink2.JPG" >
										</a> 
									</div>
									<div class="item_30">
										<a class="lightbox" id="turtleneck_pink_home" href="#pink3">
										   <img src="images/turtleneck/pink3.JPG" >
										</a> 
									</div>

									<header class="major" style="margin:0; padding-top:3%;width:40%;">
										<h2>Turtleneck Pink</h2>
										<p>2450 RSD</p>
										                                                                        <ul class="actions">
                <li><a href="https://www.instagram.com/i_choose_official/" class="button2 special">Order now</a></li>
                        </ul>

									</header>

								</div>

							</div>
							<div class="spotlight2">
								<div class="row">
									<div class="item_30">
										<a class="lightbox" href="#zlatna1">
										   <img src="images/turtleneck/zlatna1.JPG" >
										</a> 
									</div>
									<div class="item_30">
										<a class="lightbox" href="#zlatna2">
										   <img src="images/turtleneck/zlatna2.JPG" >
										</a> 
									</div>
									<div class="item_30">
										<a class="lightbox" id="turtleneck_zlatna_home" href="#zlatna4">
										   <img src="images/turtleneck/zlatna4.JPG" >
										</a> 
									</div>

									<header class="major" style="margin:0; padding-top:3%;width:40%;">
										<h2>Turtleneck Gold</h2>
										<p>2450 RSD</p>
										                                                                        <ul class="actions">
                <li><a href="https://www.instagram.com/i_choose_official/" class="button2 special">Order now</a></li>
                        </ul>

									</header>

								</div>

							</div>



<div class="lightbox-target" id="black2">
   <img src="images/turtleneck/black2.JPG"/>
   <a class="lightbox-close" href="#"></a>
</div>
<div class="lightbox-target" id="black3">
   <img src="images/turtleneck/black3.JPG"/>
   <a class="lightbox-close" href="#"></a>
</div>
<div class="lightbox-target" id="black4">
   <img src="images/turtleneck/black4.JPG"/>
   <a class="lightbox-close" href="#"></a>
</div>
<div class="lightbox-target" id="pink3">
   <img src="images/turtleneck/pink3.JPG"/>
   <a class="lightbox-close" href="#turtleneck_pink_home"></a>
</div>
<div class="lightbox-target" id="pink1">
   <img src="images/turtleneck/pink1.JPG"/>
   <a class="lightbox-close" href="#turtleneck_pink_home"></a>
</div>
<div class="lightbox-target" id="pink2">
   <img src="images/turtleneck/pink2.JPG"/>
   <a class="lightbox-close" href="#turtleneck_pink_home"></a>
</div>
<div class="lightbox-target" id="zlatna4">
   <img src="images/turtleneck/zlatna4.JPG"/>
   <a class="lightbox-close" href="#turtleneck_zlatna_home"></a>
</div>
<div class="lightbox-target" id="zlatna1">
   <img src="images/turtleneck/zlatna1.JPG"/>
   <a class="lightbox-close" href="#turtleneck_zlatna_home"></a>
</div>
<div class="lightbox-target" id="zlatna2">
   <img src="images/turtleneck/zlatna2.JPG"/>
   <a class="lightbox-close" href="#turtleneck_zlatna_home"></a>
</div>


<!--

					<section id="cta" class="wrapper style4">
						<div class="inner">
							<header>
								<h2>Arcue ut vel commodo</h2>
								<p>Aliquam ut ex ut augue consectetur interdum endrerit imperdiet amet eleifend fringilla.</p>
							</header>
							<ul class="actions vertical">
								<li><a href="#" class="button fit special">Activate</a></li>
								<li><a href="#" class="button fit">Learn More</a></li>
							</ul>
						</div>
					</section>
					
-->
