---
layout: default
---
<article id="main_small_fall_winter">

  <header>
    <h2>{{ page.title }}</h2>
    <p>Dare to choose.</p>
	<ul class="actions">
		<li><a href="https://www.instagram.com/i_choose_official/" class="button special">Shop now</a></li>
	</ul>

  </header>

      {{ content }}

</article>
