---
layout: default
---
<article id="main_small">

  <header>
    <h2>{{ page.title }}</h2>
    <p>Dare to choose.</p>
	<ul class="actions">
		<li><a href="https://www.instagram.com/i_choose_official/" class="button special">Shop now</a></li>
		<li><a href="/spring_summer.html" class="button special">Back to collection</a></li>

	</ul>

  </header>

      {{ content }}

</article>
