---
layout: default
---
<article id="main_small_ss2021">

  <header>
    <h2>{{ page.title }}</h2>
    <p>Hippie Culture.</p>
	<ul class="actions">
		<li><a href="https://www.instagram.com/i_choose_official/" class="button special">Instagram</a></li>
	</ul>

  </header>

      {{ content }}

</article>
