---
layout: default
---
<article id="main_small_fw2020_pablo">

  <header>
    <h2>{{ page.title }}</h2>
<h3> Fill in the form or visit our Instagram account</h3>

    <p>Culture Collection 2020.</p>
	<ul class="actions">
		<li><a href="https://www.instagram.com/i_choose_official/" class="button special">Shop now</a></li>
		<li><a href="/fall_winter2020.html" class="button special">Back to collection</a></li>

	</ul>

  </header>

      {{ content }}

</article>
